* {
	margin			: 0;
	padding			: 0;
	box-sizing		: border-box;
	scroll-behavior	: smooth;
	font-family		: sans-serif;
}

header {
	position		: fixed;
	top				: 0;
	left			: 0;
	width			: 100%;
	padding			: 20px 120px;
	background		: #111418;
	display			: flex;
	justify-content	: space-between;
	align-items		: center;
	z-index			: 100;
}

section {
	min-height		: 100vh;
	justify-content	: center;
	align-items		: center;
	background		: #111418;
	color			: #fff;
	display			: flex;
}

section:nth-child(odd) {
	background: #323946;
}

.logo {
	font-size		: 25px;
	color			: #fff;
	text-decoration	: none;
	font-weight		: 600;
}

.logo span{
	color: #32CD32;
}

nav a {
	font-size		: 15px;
	color			: #fff;
	text-decoration	: none;
	font-weight		: 500;
	margin-left		: 35px;
	transition		: .3s;
}

nav a:hover,
nav a.active {
	color: #32CD32;
}

#menu-icon {
	font-size	: 2rem;
	color		: #fff;
	display		: none;
}

/*********************************************************** Home*/

.home-container{
	padding		: 80px 15% 0px;
	position	: relative;
	height		: 100vh;
	width		: 100%;
	display		: flex;
	align-items	: center;
	gap			: 3rem;
}

.home-img img{
	width			: 20vw;
	border-radius	: 50%;
	box-shadow		: 0 0 20px #00FF00;
	cursor			: pointer;
	animation		: floatImage 4s ease-in-out infinite;
	transition		: 0.4s ease;
}

.home-img img:hover {
	box-shadow: 0 0 25px #32CD32,
				0 0 35px #32CD32,
				0 0 45px #32CD32;
}

.home-text h6{
	font-size	: 15px;
	font-weight	: 600;
	font-family	: cursive;
	padding-top	: 15px;
}

.home-text h1{
	font-size		: 60px;
	Line-height		: 1.1;
	font-weight		: 700;
	margin			: 10px 0;
	Letter-spacing	: 2px;
	text-shadow		: 1px 1px 0px #000, 7px 7px 0px #000, 9px 9px 0px #00000;
	color			: #00FF00;
}

.home-text h4 {
	font-family		: cursive;
	font-size		: 15px;
	font-weight		: bold;
	margin-bottom	: 20px;
}

.home-text h4 span{
	color		: #32CD32;
	font-weight	: bold;
	font-size	: 20px;
}

.home-text p{
	font-size		: 10px;
	color			: #fff;
	margin-bottom	: 0px 0px;
	Line-height		: 2;
}

.social-media a{
	text-decoration	: none;
	display			: inline-flex;
	justify-content	: center;
	align-items		: center;
	width			: 32px;
	height			: 32px;
	background		: transparent;
	border			: 0.2rem solid #fff;
	border-radius	: 50%;
	font-size		: 1.5rem;
	color			: #fff;
	margin			: 1rem 1rem 2rem 0;
	transition		: 0.3s ease;
}

.social-media a:hover {
	transform		: scale(1.2) translateY(-10px);
	background-color: #32CD32;
	color			: #fff;
	box-shadow		: 0 0 25px #32CD32;
}

/*********************************************************** About*/
.about-container{
	padding		: 0px 13% 0px;
	position	: relative;
	height		: 100vh;
	width		: 100%;
	display		: flex;
	align-items	: center;
	gap			: 3rem;
}

.about-text{
	width		: 50%;
	text-align	: justify;
}

.about-text h1{
	font-size		: 60px;
	padding-bottom	: 15px;
	color			: #32CD32;
	text-align		: center;
}

.about-text p{
	font-size	: 12px;
	Line-height	: 1.5;
}

.about-icons{
	width	: 50%;
	display	: flex;
}

.flex-container1{
	margin-left: auto;
}

.flex-container2{
	margin-right: auto;
}

.about-icons i{
	font-size	: 90px;
	transition	: all 4s ease;
	padding		: 10px;
}

.about-icons i:hover{
	transform: rotate3d(0, 0, 1, 360deg);
}

/*********************************************************** Projects*/
.container-projects {
	display			: grid;
	margin-inline	: 1.5rem;
	padding-block	: 5rem;
}

.container-projects h1{
	font-size		: 60px;
	padding-bottom	: 15px;
	color			: #32CD32;
}

.card-container {
	display: grid;
	row-gap: 3.5rem;
}

.card-article {
	position	: relative;
	padding		: 0px 10px;
}

.card-img {
	width			: 328px;
	border-radius	: 1.5rem;
}

.card-data {
	width			: 280px;
	background-color: #fff;
	padding			: 1.5rem 2rem;
	box-shadow		: 0 8px 24px hsla(0, 0%, 0%, .15);
	border-radius	: 1rem;
	position		: absolute;
	bottom			: -2rem;
	left			: 0;
	right			: 0;
	margin-inline	: auto;
	opacity			: 0.9;
}

.card-description {
	color			: blue;
	display			: block;
	font-size		: 15px;
	margin-bottom	: .25rem;
}

.card-title {
	font-size		: 10px;
	font-weight		: 500;
	color			: blue;
	margin-bottom	: .75rem;
}

.card-button {
	text-decoration	: none;
	font-size		: 5px;
	font-weight		: 500;
	color			: blue;
}

.card-button:hover {
	text-decoration: underline;
}

/*********************************************************** Contact*/
.contact-container{
	padding		: 0px 13% 0px;
	position	: relative;
	width		: 100%;
	align-items	: center;
	gap			: 3rem;
	text-align	: center;
}

.contact-container h1{
	font-size		: 60px;
	padding-bottom	: 15px;
	color			: #32CD32;
}

.contact-container p{
	font-size		: 25px;
	padding-bottom	: 15px;
}

/*********************************************************** Footer*/
.footer {
	display			: flex;
	justify-content	: space-between;
	align-items		: center;
	flex-wrap		: wrap;
	padding			: 2rem 7%;
	background		: #111418;
}

.footer-text p {
	font-size	: 1rem;
	color		: #fff;
}

.footer-iconTop a {
	text-decoration	: none;
	display			: inline-flex;
	justify-content	: center;
	align-items		: center;
	padding			: .1rem;
	background		: #fff;
	border-radius	: .8rem;
	border			: .2rem solid #32CD32;
	outline			: .2rem solid transparent;
	transition		: .5s ease;
}

.footer-iconTop a:hover {
	outline-color: #00FF00
}

.footer-iconTop a i {
	font-size	: 2rem;
	color		:  #111418;
}

/*********************************************************** Responsive*/
/*@media screen and (max-width: 920px)  {
	.home-container .home-img{
		padding-top: 20%;
	}
}*/

@media screen and (max-width: 768px)  {
	
	#menu-icon {
		display: block;
	}
	
	.navbar {
		position	: absolute;
		top			: 100%;
		left		: 0;
		width		: 100%;
		padding		: 1rem 3%;
		background	: #111418;
		border-top	: .1rem solid rgba(0, 0, 0, .2);
		box-shadow	: 0 .5rem 1rem rgba(0, 0, 0, .1);
		display		: none;
	}
	
	.navbar.active {
		display: block;
	}
	
	.navbar a {
		display			: block;
		font-size		: 1rem;
		margin			: 1rem 0;
		color			: #fff;
		text-decoration	: none;
		transition		: .3s;
		text-align		: center;
	}
	
	.navbar a.active {
		color: #32CD32;
	}
	
	.navbar a::before {
		display: none;
	}
		
	.home-text h1{
		font-size: 60px;
	}
	
	.about-text h1{
		font-size	: 40px;
		text-align	: center;
	}
	
	.about-text p{
		font-size	: 12px;
		width		: 100%;
		text-align	: justify;
	}
	
	.contact-container h1{
		font-size: 40px;
	}
	
	.contact-container p{
		font-size	: 12px;
	}
	/*
	.card-img {
		width	: 280px;
		height	: 160px;
	}

	.card-data {
		width		: 220px;
		padding		: .5rem 1rem;
		box-shadow	: 0 8px 24px hsla(0, 0%, 0%, .15);
		bottom		: 1rem;
	}

	.card-description {
		font-size: 15px;
	}

	.card-title {
		font-size: 12px;
	}

	.card-button {
		font-size: 10px;
	}
	*/
}

@media screen and (max-width: 1020px) {
	
	.home-container{
		display			: block;
		text-align		: center;
		margin			: auto 0;
		vertical-align	: middle;
		height			: 100%;
	}
	
	.home-img{
		width: 100%;
	}
	
	.home-text{
		width: 100%;
	}
	
	.home-text h6{
		font-size: 15px;
	}
	
	.home-text h1{
		font-size: 50px;
	}
	
	.home-text h4 {
		font-size: 15px;
	}
	
	.home-text h4 span{
		font-size: 20px;
	}
	
	.home-text p{
		font-size: 12px;
	}
	
	.social-media a{
		width		: 32px;
		height		: 32px;
		font-size	: 1.5rem;
	}
	
	.about-container{
		display			: block;
		margin			: auto 0;
		vertical-align	: middle;
		height			: 100%;
	}
	
	.about-text{
		width: 100%;
	}
	
	.about-icons{
		width: 100%;
	}
	
	.flex-container1{
		display		: flex;
		margin-left	: auto;
	}
	
	.flex-container2{
		display		: flex;
		margin-right: auto;
	}
	
	.about-icons i{				
		font-size	: 30px;
		text-align	: center;
		padding		: 0px 2px;
	}
	/*.about-container{
		padding: 70px 13% 0px;
	}
	
	.about-text h1{
		font-size: 40px;
	}
	
	.about-icons i{
		margin-right: 2px;
	}
	
	.container-projects h1{
		font-size	: 40px;
		text-align	: center;
	}*/
}

@media screen and (min-width: 1020px) {
	.container-projects {
		height: 100vh;
	}

	.card-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.card-img {
		width: 348px;
	}

	.card-data {
		width			: 316px;
		padding-inline	: 2.5rem;
	}
}
/*(max-width: 480px)

(max-width: 1024px)*/

/*********************************************************** Transiciones*/
.reveal{
	position	: relative;
	transform	: translateY(150px);
	opacity		: 0;
	transition	: all 2s ease;
}
.reveal.active{
	transform	: translateY(0px);
	opacity		: 1;
}